<div class="container pt-5">
    <div class="card">
        <div class="card-header bg-secondary">
            <h1 class="text-light">Registration form</h1>
        </div>
        <div class="card-body p-5">
            <form [formGroup]="userRegForm">
                <div class="row">
                    <div class="col-xl-6 mb-3">
                        <label for="firstName"
                            class="form-label">FirstName</label>
                        <input type="text" class="form-control"
                            formControlName="firstName"
                            placeholder="Enter your first Name...">
                        <div
                            *ngIf="userRegForm.get('firstName')?.invalid && (userRegForm.get('firstName')?.dirty || userRegForm.get('firstName')?.touched)"
                            class="text-red-500">
                            <div *ngIf="userRegForm.get('firstName')?.errors">
                                <p class="text-danger">First Name Required</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 mb-3">
                        <label for="lastName"
                            class="form-label">LastName</label>
                        <input type="text" class="form-control"
                            formControlName="lastName"
                            placeholder="Enter your last Name...">
                        <div
                            *ngIf="userRegForm.get('lastName')?.invalid && (userRegForm.get('lastName')?.dirty || userRegForm.get('lastName')?.touched)"
                            class="text-red-500">
                            <div *ngIf="userRegForm.get('lastName')?.errors">
                                <p class="text-danger">Last Name Required</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 mb-3">
                        <label for="contact" class="form-label">Contact</label>
                        <input type="text" class="form-control"
                            formControlName="contact"
                            placeholder="Enter your contact...">
                        <div
                            *ngIf="userRegForm.get('contact')?.invalid && (userRegForm.get('contact')?.dirty || userRegForm.get('contact')?.touched)"
                            class="text-red-500">
                            <div *ngIf="userRegForm.get('contact')?.errors">
                                <p class="text-danger">Contact Required</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 mb-3">
                        <label for="email" class="form-label">E-mail</label>
                        <input type="email" class="form-control"
                            formControlName="email"
                            placeholder="Enter your email...">
                        <div
                            *ngIf="userRegForm.get('email')?.invalid && (userRegForm.get('email')?.dirty || userRegForm.get('email')?.touched)"
                            class="text-red-500">
                            <div *ngIf="userRegForm.get('email')?.errors">
                                <p class="text-danger">Email Required</p>
                            </div>
                            <div *ngIf="userRegForm.get('email')?.errors">
                                <p class="text-danger">Invalid Email Format</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 mb-3">
                        <label for="password"
                            class="form-label">Password</label>
                        <input type="password" class="form-control"
                            formControlName="password"
                            placeholder="Enter your password...">
                        <div
                            *ngIf="userRegForm.get('password')?.invalid && (userRegForm.get('password')?.dirty || userRegForm.get('password')?.touched)"
                            class="text-red-500">
                            <div *ngIf="userRegForm.get('password')?.errors">
                                <p class="text-danger">Password Required</p>
                            </div>
                        </div>
                    </div>
                    <!-- Campo Oculto -->
                    <section class="mx-auto max-w-md mb-4 lg:mb-6"
                        style="display: none;">
                        <label
                            class="input input-bordered flex items-center gap-4">
                            <input type="hidden" formControlName="hiddenField">
                        </label>
                    </section>
                    <div class="col-xl-6 mb-3">
                        <label for="confirmPassword" class="form-label">Confirm
                            Password</label>
                        <input type="password" class="form-control"
                            formControlName="confirmPassword"
                            placeholder="Confirm your password...">
                        <div
                            *ngIf="userRegForm.get('confirmPassword')?.invalid && (userRegForm.get('confirmPassword')?.dirty || userRegForm.get('confirmPassword')?.touched)"
                            class="text-red-500">
                            <div
                                *ngIf="userRegForm.get('confirmPassword')?.errors">
                                <p class="text-danger">Confirm Password
                                    Required</p>
                            </div>
                            <div
                                *ngIf="userRegForm.get('confirmPassword')?.errors">
                                <p class="text-danger">Passwords do not
                                    match</p>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <div class="col-xl-12">
                <button class="btn btn-primary float-end" (click)="register()"
                    [disabled]="!userRegForm.valid">Register</button>
            </div>
        </div>
    </div>
</div>
